*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
}

.header .text2 .dashboard-button {
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(0, 20, 70);
    color: white;
    border-radius: 15px;
    margin-left: 8px;
    padding-left: 10px;
}

.header .text2 .dashboard-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    transition: 0.5s;
    border-radius: 15px;
}


.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(0,20,70);
    height: 100px;
    justify-content: space-between;
}

.text1{
    display: flex;
    flex-direction: row;
    color:  white;
}

.text2{
    display: flex;  
    flex-direction: row;
    color: white;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .button0{
        width: 90px;
        height: 40px;
        border: none; 
        background-color: rgb(0,20,70);
        color: white;
        border-radius: 15px;
        margin-left: 8px;
        padding-left: 20px;
        background-image: url(homeicon.png);
        background-position: 5px;
        background-repeat: no-repeat;
        background-size: 25px;
    }
.button1,.button2{
    height: 40px;
    width: 100px;
    border: none; 
    background-color: rgb(0,20,70);
    color: white;
    border-radius: 15px;
    margin-left: 8px;   
}

.button1{
    background-image: url(About\ us.png);
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 25px;
    width: 120px;
}

.button2{
    background-image: url(phone1.png); 
    background-position: 5px ;
    background-repeat: no-repeat;
    background-size: 25px;
    margin-left: 8px;
    width: 145px;
    padding-left: 15px;
}

.button3{
    height: 40px;
    width: 100px;
    border: none; 
    background-color: rgb(0,20,70);
    color: white;
    border-radius: 15px;
    margin-left: 8px;
    padding-left: 25px;
    background-image: url(login.png); 
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 25px;
}

.button4{
 margin-right: 0px;  height: 40px;
                        width: 120px;
                        border: none;
                        background-color: rgb(0, 20, 70);
                        color: white;
                        border-radius: 15px;
                        margin-left: 8px;
                        padding-left: 10px; 
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
}



.button1:hover, .button0:hover,.button2:hover,.button3:hover,.button4:hover{
    cursor: pointer;
    background-color:  white ;
    color: black;
    border: none;
    transition: 0.5s;
    border-radius: 15px;
}

.searchbar{
    margin-right: 50px;
    margin-top: 5px;
    margin-left: 8px;
    height: 30px;
    display: flex;
    flex-direction: row;
       
}

.search{
    border-bottom-right-radius: 15px;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    border: 1px solid blue;
}

.img1{
    width: 170px;
}
/*======================================================Header finished========================================*/

.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,20,80,0.7),rgba(0,20,80,0.7)),url(footballbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.news1{
    display: flex;  
    justify-content: center;
}

.news-section{
    display: flex;
    flex-direction: row;    
}
/*=======================================================slider start=================================================================*/
.slider-button{
    position: relative;
    margin-top: -50px;
    padding: 10px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    color: rgb(43, 45, 179);
    cursor: pointer;
}

#kontentiFootball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    margin-top: 20px ;
    margin-bottom: 20px;
}


#kontentiFootball img {
    width: 1100px;
    height: auto;
    border: 1px solid rgb(43, 45, 179) ;
    border-radius: 8px;
    margin-top: 10px;
    height: 500px;    
}

#kontentiFootball img {
    transition: opacity 0.5s ease; 
}

#kontentiFootball img:hover{
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    position: absolute;
}

button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    color: rgb(43, 45, 179);
}

button:hover {
    background-color: white;
    color: rgb(43, 45, 179);
    transition: 1s ease;
}
/*=======================================slider finished==============================================================================*/
.football-page{
    display: flex;
    flex-direction: column;
}

.foto1, .foto2, .foto3{
    height: 200px;
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap ;
    margin-top: 10px;
}

.small-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}

.Titull1{
    display: flex;
    color: rgb(43, 45, 179);
    align-items: center;
    margin-left: 10px;
}


.foto-lajmi2{
    height: 200px;
    border: 2px solid rgb(43, 45, 179);
    border-radius: 15px;
    display: flex;
}

.lajmi2{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lajmi2:hover .foto-teksti2{
    opacity: 1;
    transition: 1s;
    background-color: rgb(43, 45, 179);
    height: 80px;
    color: white;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

.foto-teksti2{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}



.foto-lajmi3, .foto-lajmi4, .foto-lajmi5{
    height: 200px;
    border: 2px solid rgb(43, 45, 179);
    border-radius: 15px;
    display: flex;
}

.lajmi3, .lajmi4,.lajmi5{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lajmi3:hover .foto-teksti3, .lajmi4:hover .foto-teksti4,.lajmi5:hover .foto-teksti5{
    opacity: 1;
    transition: 1s;
    background-color: rgb(43, 45, 179);
    height: 80px;
    color: white;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

.foto-teksti3,.foto-teksti4, .foto-teksti5{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.mainpage-basketball{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(basketballbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;   
    padding-top: 40px;
}

#basketball-button{
    color: rgb(207, 83, 0);
}

#basketball-button:hover{
    background-color: black;
}

#kontentiBasketball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    margin-top: 20px ;
    margin-bottom: 20px;
}


#kontentiBasketball img {
    width: 1100px;
    height: auto;
    border: 2px solid rgb(207, 83, 0);
    border-radius: 8px;
    margin-top: 10px;
    height: 500px;    
}

#kontentiBasketball img {
    transition: opacity 0.5s ease; 
}

#kontentiBasketball img:hover{
    cursor: pointer;
}

.mainpage-basketball .Titull1{
    color: rgb(207, 83, 0);
}

.foto-lajmi6{
    height: 200px;
    border: 2px solid rgb(207, 83, 0);
    border-radius: 15px;
    display: flex;
}

.lajmi6{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lajmi6:hover .foto-teksti6{
    opacity: 1;
    transition: 1s;
    background-color: rgb(207, 83, 0);
    height: 80px;
    color: black;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

.foto-teksti6{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}



.foto-lajmi7, .foto-lajmi8, .foto-lajmi9{
    height: 200px;
    border: 2px solid rgb(207, 83, 0);
    border-radius: 15px;
    display: flex;
}

.lajmi7, .lajmi8,.lajmi9{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto-teksti7,.foto-teksti8, .foto-teksti9{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.lajmi7:hover .foto-teksti7, .lajmi8:hover .foto-teksti8,.lajmi9:hover .foto-teksti9{
    opacity: 1;
    transition: 1s;
    background-color: rgb(207, 83, 0);
    height: 80px;
    color: black;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}
.mainpage-boxing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(20,0,0,0.7),rgba(20,0,0,0.7)),url(boxingbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;   
    padding-top: 40px;
}

#kontentiBoxing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    margin-top: 20px ;
    margin-bottom: 20px;
}

#kontentiBoxing img {
    width: 1100px;
    height: auto;
    border: 2px solid rgb(180, 0, 0);
    border-radius: 8px;
    margin-top: 10px;
    height: 500px;    
}

#kontentiBoxing img {
    transition: opacity 0.5s ease; 
}

#kontentiBoxing img:hover{
    cursor: pointer;
}

.mainpage-boxing .Titull1{
    color: rgb(180, 0, 0);
}

.Boxingarrow{
    color: rgb(180, 0, 0);
}

.Boxingarrow:hover{
    background-color: black;
    color: rgb(180, 0, 0);
}

.foto-lajmi10{
    height: 200px;
    border: 2px solid rgb(180, 0, 0);
    border-radius: 15px;
    display: flex;
}

.lajmi10{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.lajmi10:hover .foto-teksti10{
    opacity: 1;
    transition: 1s;
    background-color: rgb(180, 0, 0);
    height: 80px;
    color: black;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

.foto-teksti10{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.foto-lajmi11, .foto-lajmi12, .foto-lajmi13{
    height: 200px;
    border: 2px solid rgb(180, 0, 0);
    border-radius: 15px;
    display: flex;
}

.lajmi11, .lajmi12,.lajmi13{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto-teksti11,.foto-teksti12, .foto-teksti13{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    opacity: 0;
    align-items: center;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.lajmi11:hover .foto-teksti11, .lajmi12:hover .foto-teksti12,.lajmi13:hover .foto-teksti13{
    opacity: 1;
    transition: 1s;
    background-color: rgb(180, 0, 0);
    height: 80px;
    color: black;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
}

.mainpage-boxing .small-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 80px;
    }